<html>
<html>
<html>
	<title>Welcome to {{greeting_msg}}</title>

	<body>
		<h1>Configuration mangement tool used {{cm_tool}}</h1>
		<h1>Provisioned by {{provisioner_tool}}</h1>
		<h1>Host name {{ansible_nodename}}</h1>
	</body>
</html>
